In [2]:
import os
import pandas as pd

In [3]:
data_folder_path ='data/recording_data'

In [4]:
#an initialized empty list to hold data from all files
all_data =[]

In [16]:
#looping through each folder in the directory
for folder_name in os.listdir(data_folder_path):
    if not folder_name.startswith('.'):#this would ignore hidden/system folders
        folder_path=os.path.join(data_folder_path,folder_name)
        
        #determining attributes from folder name
        reading_disabled = folder_name[-1] in ['1','2']#Ends with 1 or 2
        gender='male'if folder_name[-1]in ['1','3'] else 'female' #Ends with 1 or 3 for male or 2 or 4 for female
         
            
          # Loop through each item in the directory
for item in os.listdir(data_folder_path):
    item_path = os.path.join(data_folder_path, item)
    
    # Check if the item is a directory
    if os.path.isdir(item_path):
        # Determine attributes from folder name
        reading_disabled = item[-1] in ['1', '2']  # Ends with 1 or 2
        gender = 'male' if item[-1] in ['1', '3'] else 'female'  # Ends with 1 or 3 for male, 2 or 4 for female
        
        # Loop through each file in the directory
        for file_name in os.listdir(item_path):
            file_path = os.path.join(item_path, file_name)
            
            # Read the data file (assuming a simple text format, adjust read function as necessary)
            with open(file_path, 'r') as file:
                data = file.read()  # This will be a string, you may need to parse it further depending on your data format
            
            # Append a tuple with the data and metadata to the all_data list
            # You might want to parse 'data' into a more structured form depending on your needs
            all_data.append((item, gender, reading_disabled, data))

# Convert the list of tuples into a DataFrame
df = pd.DataFrame(all_data, columns=['Folder Name', 'Gender', 'Reading Disabled', 'Data'])

In [17]:
df

,Folder Name,Gender,Reading Disabled,Data
0,111GM3,male,False,"T\tLX\tLY\tRX\tRY\n0\t0\t0\t0\t0\n20\t0,65535\..."
1,111JA2,female,True,"T\tLX\tLY\tRX\tRY\n0\t0\t0\t0\t0\n20\t-1,00000..."
2,111RP1,male,True,T\tLX\tLY\tRX\tRY\n0\t0\t0\t0\t0\n20\t0\t0\t0\...
3,112JU3,male,False,"T\tLX\tLY\tRX\tRY\n0\t0\t0\t0\t0\n20\t0\t0\t0,..."
4,112KA1,male,True,"T\tLX\tLY\tRX\tRY\n0\t0\t0\t0\t0\n20\t0\t-0,65..."
...,...,...,...,...
365,826ES4,female,False,"T\tLX\tLY\tRX\tRY\n0\t0\t0\t0\t0\n20\t-9,99999..."
366,826PP1,male,True,"T\tLX\tLY\tRX\tRY\n0\t0\t0\t0\t0\n20\t-9,99999..."
367,826SJ1,male,True,T\tLX\tLY\tRX\tRY\n0\t0\t0\t0\t0\n20\t0\t0\t-0...
368,831OK2,female,True,"T\tLX\tLY\tRX\tRY\n0\t0\t0\t0\t0\n20\t1,999999..."
369,831PA3,male,False,"T\tLX\tLY\tRX\tRY\n0\t0\t0\t0\t0\n20\t0\t-0,65..."

In [19]:
df.shape

(370, 4)